//- Accent text
div(style="margin-bottom: 50px;")
    span.accent-text
        | Lorem ipsum dolor sit 
        br
        | &nbsp;consectetur adipisicing 
        br
        | &nbsp;elit. Excepturi?
div(style="margin-bottom: 50px;")
    span.accent-text.accent-text_lite
        | Lorem ipsum dolor sit 
        br
        | &nbsp;consectetur adipisicing 
        br
        | &nbsp;elit. Excepturi?