//- Buttons
div(style="margin-bottom: 50px;")
    a.button(href="#" style="margin-right: 20px;") Some button text
    a.button(href="#" style="margin-right: 20px; background-color: #DF2831; box-shadow: 0 0 0 0.33em rgba(239, 47, 58, .33);") Hover
    a.button(href="#" style="margin-right: 20px;") Active
    a.button(href="#" style="margin-right: 20px;") Visited
    a.button(href="#" style="margin-right: 20px;") Focus
