//- Colors
.colors-container(style="display: flex; flex-wrap: wrap; font-size: 18px; margin-bottom: 50px;")
    .colors-container__item(style="background-color: #111; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #111 <br> $color-primary-background
    .colors-container__item(style="background-color: #44454f; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #44454f
    .colors-container__item(style="background-color: #26272d; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #26272d
    .colors-container__item(style="background-color: #e93d3e; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #e93d3e
    .colors-container__item(style="background-color: #ef2f3a; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #ef2f3a <br> $color-primary
    .colors-container__item(style="background-color: #ff3737; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #ff3737 <br> $color-accent
    .colors-container__item(style="background-color: #DF2831; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #DF2831 <br> $color-hover