//- Icons from FontAwesome
div(style="margin-bottom: 50px; padding-top: 30px;")
    a.icon-link(href="#")
        i.fab.fa-telegram-plane
    a.icon-link(href="#")
        i.fab.fa-vk
    a.icon-link(href="#")
        i.fab.fa-viber
    a.icon-link(href="#")
        i.fab.fa-instagram
    a.icon-link(href="#")
        i.fab.fa-facebook-f
    a.icon-link(href="#")
        i.fab.fa-youtube
    a.icon-link(href="#")
        i.fab.fa-skype
    a.icon-link(href="#")
        i.fab.fa-twitter
    a.icon-link(href="#")
        i.fas.fa-map-marker
    a.icon-link(href="#")
        i.fas.fa-map-marker-alt
    a.icon-link(href="#")
        i.fab.fa-android
    a.icon-link(href="#")
        i.fab.fa-apple
    a.icon-link(href="#")
        i.fas.fa-arrow-left
    a.icon-link(href="#")
        i.fas.fa-arrow-right
    a.icon-link(href="#")
        i.fab.fa-behance
    a.icon-link(href="#")
        i.far.fa-bookmark
    a.icon-link(href="#")
        i.fas.fa-camera
    a.icon-link(href="#")
        i.fas.fa-check
    a.icon-link(href="#")
        i.fas.fa-chevron-left
    a.icon-link(href="#")
        i.fas.fa-chevron-right
    a.icon-link(href="#")
        i.fab.fa-dropbox
    a.icon-link(href="#")
        i.fab.fa-edge
    a.icon-link(href="#")
        i.fab.fa-firefox
    a.icon-link(href="#")
        i.fab.fa-github
    a.icon-link(href="#")
        i.fab.fa-google-drive
    a.icon-link(href="#")
        i.fab.fa-google-plus-g
    a.icon-link(href="#")
        i.fab.fa-google-play
    a.icon-link(href="#")
        i.fab.fa-internet-explorer
    a.icon-link(href="#")
        i.fab.fa-linkedin-in
    a.icon-link(href="#")
        i.fab.fa-line
    a.icon-link(href="#")
        i.fas.fa-phone
    a.icon-link(href="#")
        i.fab.fa-pinterest-p
