//- Links
div(style="margin-bottom: 50px;")
    a.anchor-link(href="#") Some link text
    a.anchor-link(href="#" style="text-decoration: none; color: #DF2831;") Hover link
    a.anchor-link(href="#") Active link
    a.anchor-link(href="#") Focus link
    a.anchor-link(href="#") Visited link