//- Include the template used on this page
extends ../../template/default/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - var title      = 'Initial Template | technical page'
    - var thisPage   = 'page-technical'
    
//- Conntecting MIXINS for this page

block content
    .container

        //- Colors
        .colors-container(style="display: flex; flex-wrap: wrap; font-size: 18px; margin-bottom: 50px;")
            .colors-container__item(style="background-color: #111; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #111 <br> $color-primary-background
            .colors-container__item(style="background-color: #44454f; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #44454f
            .colors-container__item(style="background-color: #26272d; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #26272d
            .colors-container__item(style="background-color: #e93d3e; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #e93d3e
            .colors-container__item(style="background-color: #ef2f3a; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #ef2f3a <br> $color-primary
            .colors-container__item(style="background-color: #ff3737; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #ff3737 <br> $color-accent
            .colors-container__item(style="background-color: #DF2831; height: 100px; width: 200px; display: flex; justify-content: center; align-items: center; text-align: center;") #DF2831 <br> $color-hover

        //- Headers
        div(style="margin-bottom: 50px;")
            h1 H1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            h2 H2 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            h3 H3 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            h4 H4 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            h5 H5 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            h6 H6 Lorem ipsum dolor sit, amet consectetur adipisicing elit.

        //- Text content
        div(style="margin-bottom: 50px;")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt officia, ullam cumque unde excepturi sed veniam velit temporibus numquam at quibusdam adipisci quo cum nisi molestias molestiae amet vel accusantium? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui ipsum, libero dolore officia hic velit ea quibusdam perferendis ullam repellendus ab quisquam harum laborum dicta nesciunt excepturi ipsam. Blanditiis, nam.
            p 
                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                a.anchor-link(href="#") Some link text
                | Doloribus quisquam quod repellendus reprehenderit sequi iure cum doloremque nulla totam ratione rem velit ab ipsam esse, accusantium neque facere. Cumque, veniam!

        //- Buttons
        div(style="margin-bottom: 50px;")
            a.button(href="#" style="margin-right: 20px;") Some button text
            a.button(href="#" style="margin-right: 20px; background-color: #DF2831; box-shadow: 0 0 0 0.33em rgba(239, 47, 58, .33);") Hover
            a.button(href="#" style="margin-right: 20px;") Active
            a.button(href="#" style="margin-right: 20px;") Visited
            a.button(href="#" style="margin-right: 20px;") Focus

        //- Accent text
        div(style="margin-bottom: 50px;")
            span.accent-text
                | Lorem ipsum dolor sit 
                br
                | &nbsp;consectetur adipisicing 
                br
                | &nbsp;elit. Excepturi?
        div(style="margin-bottom: 50px;")
            span.accent-text.accent-text_lite
                | Lorem ipsum dolor sit 
                br
                | &nbsp;consectetur adipisicing 
                br
                | &nbsp;elit. Excepturi?

        //- Icons from FontAwesome
        div(style="margin-bottom: 50px; padding-top: 30px;")
            a.icon-link(href="#")
                i.fab.fa-telegram-plane
            a.icon-link(href="#")
                i.fab.fa-vk
            a.icon-link(href="#")
                i.fab.fa-viber
            a.icon-link(href="#")
                i.fab.fa-instagram
            a.icon-link(href="#")
                i.fab.fa-facebook-f
            a.icon-link(href="#")
                i.fab.fa-youtube
            a.icon-link(href="#")
                i.fab.fa-skype
            a.icon-link(href="#")
                i.fab.fa-twitter
            a.icon-link(href="#")
                i.fas.fa-map-marker
            a.icon-link(href="#")
                i.fas.fa-map-marker-alt
            a.icon-link(href="#")
                i.fab.fa-android
            a.icon-link(href="#")
                i.fab.fa-apple
            a.icon-link(href="#")
                i.fas.fa-arrow-left
            a.icon-link(href="#")
                i.fas.fa-arrow-right
            a.icon-link(href="#")
                i.fab.fa-behance
            a.icon-link(href="#")
                i.far.fa-bookmark
            a.icon-link(href="#")
                i.fas.fa-camera
            a.icon-link(href="#")
                i.fas.fa-check
            a.icon-link(href="#")
                i.fas.fa-chevron-left
            a.icon-link(href="#")
                i.fas.fa-chevron-right
            a.icon-link(href="#")
                i.fab.fa-dropbox
            a.icon-link(href="#")
                i.fab.fa-edge
            a.icon-link(href="#")
                i.fab.fa-firefox
            a.icon-link(href="#")
                i.fab.fa-github
            a.icon-link(href="#")
                i.fab.fa-google-drive
            a.icon-link(href="#")
                i.fab.fa-google-plus-g
            a.icon-link(href="#")
                i.fab.fa-google-play
            a.icon-link(href="#")
                i.fab.fa-internet-explorer
            a.icon-link(href="#")
                i.fab.fa-linkedin-in
            a.icon-link(href="#")
                i.fab.fa-line
            a.icon-link(href="#")
                i.fas.fa-phone
            a.icon-link(href="#")
                i.fab.fa-pinterest-p


        //- Links
        div(style="margin-bottom: 50px;")
            a.anchor-link(href="#") Some link text
            a.anchor-link(href="#" style="text-decoration: none; color: #DF2831;") Hover link
            a.anchor-link(href="#") Active link
            a.anchor-link(href="#") Focus link
            a.anchor-link(href="#") Visited link



