//- Declaration mixin
mixin subscribe
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, dolore? Voluptatum fugiat distinctio fuga, exercitationem tenetur, consectetur deserunt accusantium animi tempore veniam ullam, possimus numquam culpa eum! Placeat, voluptate at?