//- Include used template for this page
extends ../template/default/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - var title       = 'Webpack template'
    - var description = 'Write description for the page here'
    - var keywords    = 'Write keywords for the page here'
    - var pageClass   = 'page-index'
    
//- Conntecting MIXINS for this page
//- include ../mixins/news

block content
    .container
        .row
            .col-lg-12
                h1 Hello Webpack!
            .col-lg-3.mt-5
                | png
                img(src="img/png.png" alt="" style="max-width: 100%; display: block; margin: 0 auto;")
            .col-lg-3.mt-5
                | jpg
                img(src="img/jpg.jpg" alt="" style="max-width: 100%; display: block; margin: 0 auto;")
            .col-lg-3.mt-5
                | gif
                img(src="img/gif.gif" alt="" style="max-width: 100%; display: block; margin: 0 auto;")
            .col-lg-3.mt-5
                | svg
                img(src="img/svg.svg" alt="" style="max-width: 100%; display: block; margin: 0 auto;")