//- Section images
.container
    .row
        .col-lg-3
            | png
            br
            br
            img(src="img/png.png" alt="" style="max-width: 100%; display: block; margin: 0 auto;")
        .col-lg-3
            | jpg
            br
            br
            img(src="img/jpg.jpg" alt="" style="max-width: 100%; display: block; margin: 0 auto;")
        .col-lg-3
            | gif
            br
            br
            img(src="img/gif.gif" alt="" style="max-width: 100%; display: block; margin: 0 auto;")
        .col-lg-3
            | svg
            br
            br
            img(src="img/svg.svg" alt="" style="max-width: 100%; display: block; margin: 0 auto;")