//- Section images
.container
    .row
        .col-lg-3
            img(src="img/png.png" alt="")
            span some.png
        .col-lg-3
            img(src="img/jpg.jpg" alt="")
            span some.jpg
        .col-lg-3
            img(src="img/gif.gif" alt="")
            span some.gif
        .col-lg-3
            img(src="img/svg.svg" alt="")
            span some.svg