.container
        .row
            .col-lg-12
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum fuga unde ut! Harum esse dolor aliquam aut facilis neque dolore blanditiis, distinctio similique qui quaerat reprehenderit dignissimos voluptatum a consequatur?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum fuga unde ut! Harum esse dolor aliquam aut facilis neque dolore blanditiis, distinctio similique qui quaerat reprehenderit dignissimos voluptatum a consequatur?