//- Include used template for this page
extends ../../template/default/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - var title      = 'Initial Template | index page'
    - var thisPage   = 'page-index'
    
//- Conntecting MIXINS for this page
//- include ../mixins/news

block content
    h1 Hello world!!!
    include _subscribe.pug
    