//- Include used template for this page
extends ../../templates/default/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - var title       = 'Webpack template'
    - var description = 'Write description for the page here'
    - var keywords    = 'Write keywords for the page here'
    - var pageClass   = 'page-index'
    
//- Conntecting MIXINS for this page
include ../../mixins/_subscribe

block content
    include _title
    include _images
    include _paragraph
    
    .container
        .row
            .col-lg-12
                +subscribe