* {
    box-sizing: border-box;
}

//- Make sticty footer
html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header,
.footer {
    flex: none;
}

.main {
    flex: 1 0 auto; 
}

//- Ð¡ustom template styles
body {
    font-family: 'Sofia Pro', Arial, sans-serif;
    // font-family: 'Montserrat', sans-serif;
    font-size: 1.45833vw;
    line-height: 1.3;
    font-style: normal;
    color: $color-primary-font;
    background-color: $color-primary-background;
    @media only screen and (max-width: $screen-large) {
        font-size: 21px;
    }
    @media only screen and (max-width: $screen-medium) {
        font-size: 18px;
    }
}


// .container {
//     position: relative;
//     padding: 4.16667vw 4.16667vw 0 4.16667vw;
// }